

.app-container {
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:  'navigation'
                        '.. main ..';
  max-width: 100vw;
  height: 100vh;
  margin: 0;
  background: #d9d9d9;
}

.nav-container {
  max-width: 100vw;
  background: whitesmoke;
}

.nav-container h1{
  display: grid;
  justify-content: center;
  width: 100vw;
}

.nav-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-area: navigation;
  padding:2vmax;
  max-width: 100vw;
}

.nav-links div{
  justify-self: center;
}

.nav-links a{
  text-decoration: none;
  color: slategrey;
}

@media only screen and (min-width: 725px){

  .app-container {
    display:grid;
    grid-template-columns: 25% 75%;
  }

  .nav-container {
    width: 100%;
    height: 100vh;
  }

  .nav-container h1{
    width: 100%;
    padding: .1vh 0;
  }

  .nav-links {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3.5rem;
    font-family: 'Lato', sans-serif;
    font-size: 1.4em;
    padding: 5vw;
  }

  .nav-links div{
    justify-self: left;
  }

}
